{% load static %}
<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EPJ System - Login</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
  <div class="landing-page">
    <div class="content">
      <h1>Velkommen til den Elektroniske Patientjournal </h1>
      <p></p>
      <div class="buttons">
  <!-- Login -->
  <a href="{% url 'brugere:login' %}">
    <button id="btn-login">Log ind</button>
  </a>

  <!-- Opret bruger -->
  <a href="{% url 'brugere:opret' %}">
    <button id="btn-register">Opret bruger</button>
  </a>
</div>
    </div>

    <div class="image-side">
      <div class="placeholder">
        <h2>EPJ</h2>
      </div>
    </div>
  </div>

  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>